<section id="address" class="address">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Ceremony and Reception Address</h2>
        <p class="lead">
          {% for address in site.address %}
          {{ address.line }}<br>
          {% endfor %}</a></p>
      </div>
    </div>
<hr class="small" style="width: 100%; border-color: black;">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Hotel block</h2>
        <p class="lead">
          The Best Western Plus Cambridge Hotel for $72 / night.</p>

      </div>
      <div class="text-center">
        <a href="https://www.bestwestern.com" class="btn btn-dark btn-lg">Book here</a>
        </div>
    </div>
   <hr class="small" style="width: 100%; border-color: black;">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Time</h2>
        <p class="lead">5:00 pm</a></p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
