<section id="address" class="address">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Ceremony and Reception Address</h2>
        <p class="lead">
          {% for address in site.address %}
          {{ address.line }}<br>
          {% endfor %}</a></p>
      </div>
    </div>
<hr class="small" style="width: 100%; border-color: black;">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Hotel block (held until 5/17)</h2>
        <p class="lead">
          The Boston Marriott Cambridge for $279 / night.</p>

      </div>
      <div class="text-center">
        <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Hung/Hashimoto%20Wedding%20Room%20Block%5Eboscb%60HHWHHWa%60279.00%60USD%60false%605%606/17/16%606/19/16%6005/17/2016&app=resvlink&stop_mobi=yes" class="btn btn-dark btn-lg">Book here</a>
        </div>
    </div>
   <hr class="small" style="width: 100%; border-color: black;">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Time</h2>
        <p class="lead">5:30 pm</a></p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
