<header id="top" class="header">
  <div class="text-vertical-center">
    <div style="background: rgba(255,255,255,0.6)">
    <h1>{{ site.couple }} Wedding</h1>
    <h3>June 9th, 2018, Cambridge ON</h3>
    <br>
    <a href="#address" class="btn btn-dark btn-lg">Address and Hotel</a>
    <a href="#schedule" class="btn btn-dark btn-lg">Schedule</a>
    <a href="#registry" class="btn btn-dark btn-lg">Registry</a>
    <br>
    </div>
    <div class="col-lg-12">
      <br><br><br><br><br><br><br><br><br><br>
    </div>
  </div>
</header>
