<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="#top"  onclick = $("#menu-close").click(); >{{ site.couple }}</a>
    </li>
    <li>
      <a href="#top" onclick = $("#menu-close").click(); >Home</a>
    </li>
    <li>
      <a href="#address" onclick = $("#menu-close").click(); >Time + Place</a>
    </li>
    <li>
      <a href="#schedule" onclick = $("#menu-close").click(); >Schedule</a>
    </li>
    <li>
      <a href="#registry" onclick = $("#menu-close").click(); >Registry</a>
    </li>
    <li>
      <a href="#contact" onclick = $("#menu-close").click(); >Contact</a>
    </li>
  </ul>
</nav>
