<section id="schedule" class="schedule">

  <div class="container">
  <div class="col-lg-12 text-center">
    <h2>Schedule</h2>
      <p>Schedule subject to change</p>
  </div>

  <div class="span5 table-sm">
  <table class="table" style="float: none; text-align:center; font-size:16px">
    <thead class="thead-inverse">
      <tr>
        <th class="text-center">Time</th>
        <th class="text-center">Event</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>5:00pm</td>
        <td>Ceremony</td>
      </tr>

      <tr>
        <td>6:00pm</td>
        <td>Cocktail Hour</td>
      </tr>
      <tr>
        <td>7:00pm</td>
        <td>Dinner</td>
      </tr>    </tbody>
  </table>
  </div>
</div>
  <!-- /.container -->
</section>
